@font-face {
    -fx-font-family: Roboto-Medium;
    src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    -fx-font-family: Roboto-Regular;
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    -fx-font-family: Roboto-Thin;
    src: url('../../fonts/Roboto/Roboto-Thin.ttf');
}

.display {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 340%;
}

.headline {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 240%;
}

.title {
    -fx-font-family: Roboto-Medium;
    -fx-font-size: 200%;
}

.body_large {
    -fx-font-family: Roboto-Medium;
    -fx-font-size: 130%;
}

.body {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 110%;
}

.body_bold {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 110%;
    -fx-font-weight: bold;
}


.body_small {
    -fx-font-family: Roboto-Thin;
    -fx-font-size: 100%;
}

.caption {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 90%;
}

.button {
    -fx-font-family: Roboto-Medium;
    -fx-font-size: 110%;
}